* {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  gap: 24px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-item.TASK_ARCHIVED {
  opacity: 0.5;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.checkbox-custom::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox input:checked + .checkbox-custom::after {
  opacity: 1;
}

.title {
  width: 100%;
  flex-grow: 1;
}

.title input {
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

.pin-button {
  background: none;
  border: none;
  cursor: pointer;
}

.pin-button .icon-star {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14l-5-4.87 6.91-1.01L12 2z' fill='%23bbb'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
}

.pin-button:hover .icon-star {
  filter: brightness(0.8);
}

.list-item.TASK_PINNED .icon-star {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14l-5-4.87 6.91-1.01L12 2z' fill='%23fdbc40'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
}

.list-item.TASK_PINNED .icon-star {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14l-5-4.87 6.91-1.01L12 2z' fill='%23fdbc40'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
}
